html {
    height: 100%;
}

body {
    height: 100%;
    background-color:red;
    
    
}

.navbar{
    display:flex;
     justify-content:space-around ;
     background-color:green;
     width: 100%;
     
}
a {
    text-decoration: none;

}

 
.social-image{
    width: 30px;
    margin: 15px;
}
.food{
    width: 100%;
}
.thumbnail-image{
    width: 100%;
}
