html {
    height: 100%;
}

body {
    height: 100%;
    background-color:red;
    
    
}

.navbar{
    display:flex;
     justify-content:space-between ;
     background-color:white;
     width:;
}
a {
    text-decoration: none;

}

.main {
    height: 100%;
}
.social-image{
    width: 30px;
    margin: 15px;
}
